name: example

description: A example application for flutter_simple_country_picker package.

version: 0.0.1

publish_to: 'none'

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: ">=3.38.5"

dependencies:
  flutter:
    sdk: flutter

  # Localization
  flutter_localizations:
    sdk: flutter
  intl: any

  # Utilyties
  collection: any
  async: any
  meta: any
  platform_info: ^5.0.0

  # Ui & Widgets
  cupertino_icons: ^1.0.8
  pull_down_button: ^0.10.2

  flutter_simple_country_picker:
    path: ../

dev_dependencies:
  # Unit & Widget tests for Flutter
  flutter_test:
    sdk: flutter
  # Integration tests for Flutter
  integration_test:
    sdk: flutter

  # Linting
  flutter_lints: ^6.0.0

  # Code generation
  build_runner: ^2.4.15
  flutter_gen_runner: ^5.10.0
  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.7

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
    - assets/icons/


  fonts:
    - family: NotoColorEmoji
      fonts:
        - asset: assets/fonts/Noto-Color-Emoji-Regular.ttf
    - family: SF-Pro-Rounded
      fonts:
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Black.otf
          weight: 900
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Heavy.otf
          weight: 800
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Bold.otf
          weight: 700
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Semibold.otf
          weight: 600
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Medium.otf
          weight: 500
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Regular.otf
          weight: 400
        - asset: assets/fonts/SF-Pro/SF-Pro-Rounded-Light.otf
          weight: 300

flutter_gen:
  output: lib/src/common/constant/
  # exclude: test
  line_length: 80

flutter_intl:
  enabled: true
  class_name: ExampleGeneratedLocalization
  main_locale: en
  arb_dir: lib/src/common/localization/translations
  output_dir: lib/src/common/localization/generated
  nullable_getter: false